<div class="content center-content">
  <tabset #tabset>
    <tab heading="Dados Pessoas">

      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="text-truncate"> <b>Nome:</b> Pedro Henrique </div>
          <div class="text-truncate"> <b>CPF:</b> 496.333.518-20 </div>
          <div class="text-truncate"> <b>E-mail:</b> pedrohenriqueuh2010@hotmail.com </div>
          <div class="text-truncate"> <b>Telefone:</b> (11) 9 5888-5825 </div>
          <div class="text-truncate"> <b>Estado Civil:</b> Casado </div>
          <div class="text-truncate"> <b>Sexo:</b> Masculino </div>
          <div class="text-truncate"> <b>Data de Nascimento:</b> 04/10/1999 </div>

          <br>
          <button class="btn btn-outline-primary btn-block">Editar</button>
        </div>
      </div>

    </tab>

    <tab heading="Dependentes">
      <div class="card-area">
        <div class="card" style="width: 18rem;" *ngFor="let dependente of lstDependentes">
          <div class="card-body">
            <div class="text-truncate"> <b>Nome:</b> {{dependente.nome}} </div>
            <div class="text-truncate"> <b>CPF:</b> {{dependente.cpf}} </div>
            <div class="text-truncate"> <b>E-mail:</b> {{dependente.email}} </div>
            <div class="text-truncate"> <b>Telefone:</b> {{dependente.telefone}} </div>
            <div class="text-truncate"> <b>Estado Civil:</b> {{dependente.grauParentesco}} </div>
            <div class="text-truncate"> <b>Sexo:</b> {{dependente.sexo}} </div>
            <div class="text-truncate"> <b>Data de Nascimento:</b>
              {{dependente.dataNascimento | date: 'dd/MM/yyyy'}} </div>

            <br>
            <button class="btn btn-outline-primary btn-block">Editar</button>
          </div>
        </div>
      </div>

    </tab>

    <tab heading="Visitantes">
      <blockquote class="blockquote text-left">
        <h5 class="title">Informações dos Visitantes</h5>
        <footer>
          Para agilizar o atendimento, cadastre antecipadamente seus convidados nas visitas às unidades do Itaú Unibanco
          Clube.
        </footer>
        <p class="h6">Atenção: este cadastro não garante o acesso. Observe condições de visitas publicadas neste site.
        </p>

        <button class="btn btn-primary pull-left">Novo visitante</button>
      </blockquote>

      <hr class="my-4">

      <div class="card-area">
        <div class="card" style="width: 18rem;" *ngFor="let dependente of lstDependentes">
          <div class="card-body">
            <div class="text-truncate"> <b>Nome:</b> {{dependente.nome}} </div>
            <div class="text-truncate"> <b>CPF:</b> {{dependente.cpf}} </div>
            <div class="text-truncate"> <b>E-mail:</b> {{dependente.email}} </div>
            <div class="text-truncate"> <b>Telefone:</b> {{dependente.telefone}} </div>
            <div class="text-truncate"> <b>Estado Civil:</b> {{dependente.grauParentesco}} </div>
            <div class="text-truncate"> <b>Sexo:</b> {{dependente.sexo}} </div>
            <div class="text-truncate"> <b>Data de Nascimento:</b>
              {{dependente.dataNascimento | date: 'dd/MM/yyyy'}} </div>

            <div class="text-truncate"> <b>Ativo:</b> Sim </div>

            <br>

            <div class="btn-group">
              <button class="btn btn-outline-primary ">Agendar / visualizar</button>
              <button class="btn btn-outline-primary ">Excluir</button>
            </div>
          </div>
        </div>
      </div>

    </tab>

    <tab heading="Agenda">
      Agenda
    </tab>

    <tab heading="Reserva de Churrasqueiras">
      Reserva de Churrasqueiras
    </tab>

    <tab heading="Reservas">

      <div class="row">
        <div class="col col-xs-12 col-sm-12 col-md-12 col-lg-6">
          <h5 class="title">Histórico de Reservas</h5>

          <hr class="my-4">

          <div class="card card-defaut" *ngFor="let dependente of lstDependentes">
            <div class="card-horizontal">
              <img src="http://via.placeholder.com/300x180" alt="Card image cap">

              <div class="card-body">
                <h4 class="card-title">Nome unidade</h4>
                <small>Reserva Nº : 12345</small>
              </div>
            </div>

            <div class="card-footer">
              <div class="row">
                <div class="col">
                  <small>Entrada </small>
                  <br>
                  <small>20 Jan 2020 | 18:00h </small>
                </div>
                <div class="col">
                  <small>Saída </small>
                  <br>
                  <small>25 Jan 2020 | 16:00h </small>
                </div>
              </div>

              <hr class="my-4">

              <div class="row">
                <div class="col">
                  <small>1 Diaria </small>
                </div>
                <div class="col">
                  <small>Status </small>
                </div>
              </div>
            </div>

          </div>

        </div>
        <div class="col col-xs-12 col-sm-12 col-md-6 col-lg-6">
          <h5 class="title">Reservas</h5>
          <hr class="my-4">
        </div>
      </div>
    </tab>

  </tabset>
</div>
