<div class="content">

    <form #loginForm="ngForm">
        <h3 class="text-center">Login</h3>

        <div class="form-group">
            <label>CPF</label>
            <input type="text" class="form-control" id="cpf" mask="000.000.000-00" placeholder="___.___.___-__"
                required>
        </div>

        <label>Senha</label>
        <div class="form-group">
            <input type="password" class="form-control" id="senha" placeholder="Insira sua senha" required>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.form.valid"
            (click)="login()">Logar</button>
    </form>
</div>