@import "./theme-scss/variables.scss";

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: white;
}

body,
input,
button {
  font-family: Arial, Helvetica, sans-serif;
}

//SCROLL BAR
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(236,116,4, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(236,116,4, 0.7);
}

.content {
    padding: 40px;
    width: 100%;
    height: auto;
    min-height: 60%;
}

.center-content {
    display: flex;
    justify-content: center;
    align-content: center;
}

.point {
  height: 10px;
  width:  10px;
  background: black;
  border-radius: 50%;
}

h5.title {
  color: $color-primary;
}

// STYLE BTN-PRIMARY
.btn:disabled {
  background: $color-secondary;
  border-color: $color-secondary;
  opacity: 0.3;
  cursor: not-allowed;
}

.btn:focus {
  border: none;
}

.btn-primary {
  background: $color-primary;
  border-color: $color-primary;
}

.btn-primary:hover {
  background: $color-secondary;
  border-color: $color-secondary;
}

.btn-primary:active {
  background: $color-tertiary;
  border-color: $color-tertiary;
}

  // OUTLINE
  .btn-outline-primary {
    border-color: $color-primary;
    color: $color-primary;
  }

  .btn-outline-primary:hover {
    background: $color-primary;
    border-color: $color-secondary;
  }

  .btn-outline-primary:active {
    background: $color-tertiary;
    border-color: $color-tertiary;
  }
  // OUTLINE

// STYLE BTN-PRIMARY

//NAV-TABS
.nav {
 .nav-item {

    .nav-link {
      color: $color-primary;
    }
  }
}

tab {
  padding-top: 20px;
}


//NAV-TABS

//CARDS
.card {
  box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
  margin-bottom: 5%;

  .card-title {
    color: $color-primary;
  }
}

.card-area {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 30px;
   max-height: 100%;
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;

  img {
    max-width: 170px;
  }

  .card-body {
    cursor: pointer;
  }
}

.card-defaut {
  box-shadow: none;
  border-radius: 0px;
}
//CARDS




@media only screen and (max-width: 768px) {
  .content {
    height: 74%;
  }

  .card-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
}

@media only screen and (max-width: 668px) {
  .card-area {
    overflow:auto;

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
  }
}


