<div class="container">
    <accordion [isAnimated]="true">
        <accordion-group heading="Users" panelClass="customClass" isOpen="true">

            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                        <th scope="col">User</th>
                        <th scope="col">Followers</th>
                        <th scope="col">Lang</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of usersList">
                        <td>{{user.user}}</td>
                        <td>{{user.followers}}</td>
                        <td>{{user.lang}}</td>
                    </tr>
                </tbody>
            </table>

        </accordion-group>

        <br>

        <accordion-group heading="Hashtags" panelClass="customClass">
            <table class="table table-responsive-sm">
                <thead>
                    <tr>
                        <th scope="col">Hashtag</th>
                        <th scope="col">User Lang</th>
                        <th scope="col">Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let hashtag of hashtagList">
                        <td>{{hashtag._id.hashtag}}</td>
                        <td>{{hashtag._id.userLang}}</td>
                        <td>{{hashtag.count}}</td>
                    </tr>
                </tbody>
            </table>
        </accordion-group>
    </accordion>
</div>